<mat-card>

  <mat-card-content>
    <h1>Online Poker Planning</h1>
    <p>Welcome ! This application allow you to do poker planning estimations</p>
    <p>To join an existing room, request a link to any already connected teammate</p>
    <p>Otherwise, create a new room. Be aware that a room is deleted after 8 hours of inactivity</p>

    <p style="text-align: center">
      <button mat-flat-button (click)="createRoom()" color="primary">Create Room</button>
    </p>

  </mat-card-content>
</mat-card>
